{% extends 'core/base.html' %}

{% block content %}
<div class="container mx-auto py-8 pl-5">
    {% if messages %}
        <div id="messages-container" class="fixed top-21 right-11 space-y-2">
            {% for message in messages %}
                <div class="message {% if message.tags == 'error' %}bg-red-500{% else %}bg-green-500{% endif %} text-white p-4 mb-4 rounded-lg shadow-lg transition-opacity duration-500">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h2 class="text-4xl font-bold mb-6 mt-6 text-gray-800">Lista de Productos</h2>

    <div class="flex justify-between items-center mb-6">
        <form method="GET" action="{% url 'lista_productos' %}" class="flex space-x-4">
            <!-- Campo de búsqueda -->
            <input 
                type="text" 
                name="buscar" 
                placeholder="Buscar producto por nombre o ID..." 
                class="w-64 px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gray-500 focus:outline-none"
                value="{{ request.GET.buscar|default:'' }}"
            >
            <button 
                type="submit" 
                class="ml-4 bg-gray-800 text-white px-3 py-2 rounded-lg hover:bg-gray-700 focus:ring-2 focus:ring-gray-500"
            ><i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </button>
            <select 
                name="categoria"
                class="w-60 px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gray-500"
                onchange="this.form.submit();"
            >
                <option value="">-- Todas las categorías --</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}" {% if request.GET.categoria == categoria.id|stringformat:"s" %}selected{% endif %}>
                        {{ categoria.nombre }}
                    </option>
                {% endfor %}
            </select>
        </form>
        {% if perms.myapp.add_producto or perms.myapp.add_presentacion %}
            <a href="{% url 'crear_presentacion' %}" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-500">
                Nuevo Producto | Presentacion
            </a>
        {% endif %}
    </div>

    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        {% if productos %}
            <table class="min-w-full bg-white border border-gray-200 text-center">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="py-3 px-6">Nombre</th>
                        <th class="py-3 px-6">Categoría</th>
                        <th class="py-3 px-6">Marca</th>
                        <th class="py-3 px-6">Fecha Registro</th>
                        <th class="py-3 px-6">Estado</th>
                        {% if perms.myapp.view_presentacion or perms.myapp.change_producto %}
                            <th class="py-3 px-6">Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="text-gray-700 text-sm">
                    {% for producto in productos %}
                        <tr class="border-b hover:bg-gray-100">
                            <td class="py-3 px-4">{{ producto.nombre }}</td>
                            <td class="py-3 px-4">{{ producto.categoria.nombre }}</td>
                            <td class="py-3 px-4">{{ producto.marca.nombre }}</td>
                            <td class="py-3 px-4">{{ producto.fecha_registro|date:"d/m/Y H:i" }}</td>
                            <td class="py-3 px-6">
                                {% if producto.estado %}
                                    <span class="bg-green-100 text-green-800 px-2 py-1 rounded-full text-xs">Activo</span>
                                {% else %}
                                    <span class="bg-red-100 text-red-800 px-2 py-1 rounded-full text-xs">Inactivo</span>
                                {% endif %}
                            </td>
                            <td class="py-3 px-4 space-x-2">
                                {% if perms.myapp.view_presentacion %}
                                    <button class="bg-yellow-600 text-white px-3 py-2 rounded-lg hover:bg-yellow-500"
                                        onclick="openModalPresentaciones('{{ producto.id }}', '{{ producto.nombre.nombre }}', '{{ producto.marca.nombre }}')">
                                        <i class="fa-solid fa-eye fa-lg"></i>
                                    </button>
                                {% endif %}
                                {% if perms.myapp.change_producto %}
                                    <button class="bg-gray-800 text-white px-3 py-2 rounded-lg hover:bg-gray-900 focus:ring-2 focus:ring-white"
                                        onclick="openModalEditarProducto('{{ producto.id }}', '{{ producto.nombre }}', '{{ producto.categoria.id }}','{{ producto.marca.id }}', '{{ producto.estado }}')">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>

                        <tr id="presentaciones_{{ producto.id }}" class="hidden">
                            <td colspan="6" class="py-3 px-4">
                                {% if producto.presentacion_set.all %}
                                    <table class="min-w-full bg-white border border-gray-200 text-center">
                                        <thead class="bg-gray-100">
                                            <tr>
                                                <th class="py-2 px-4">Código</th>
                                                <th class="py-2 px-4">Unidad</th>
                                                <th class="py-2 px-4">Valor</th>
                                                <th class="py-2 px-4">Precio Venta</th>
                                                <th class="py-2 px-4">Precio Compra</th>
                                                <th class="py-2 px-4">Stock</th>
                                                <th class="py-2 px-4">Stock Mínimo</th>
                                                <th class="py-2 px-4">Estado</th>
                                                <th class="py-2 px-4">Total Neto</th>
                                                {% if perms.myapp.change_presentacion %}
                                                    <th class="py-3 px-6">Acciones</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for presentacion in producto.presentacion_set.all %}
                                                <tr class="border-b hover:bg-gray-50">
                                                    <td class="py-2 px-4">{{ presentacion.codigo }}</td>
                                                    <td class="py-2 px-4">{{ presentacion.categoria_unidad.unidad_medida.nombre }}</td>
                                                    <td class="py-2 px-4">{{ presentacion.valor }}</td>
                                                    <td class="py-2 px-4">{{ presentacion.precio_venta }}</td>
                                                    <td class="py-2 px-4">{{ presentacion.precio_compra }}</td>
                                                    <td class="py-2 px-4">{{ presentacion.stock }}</td>
                                                    <td class="py-2 px-4">{{ presentacion.stock_minimo }}</td>
                                                    <td class="py-2 px-4">
                                                        {% if presentacion.estado %}
                                                            <span class="px-2 py-1 text-xs font-semibold text-green-800 bg-green-100 rounded-full">Activo</span>
                                                        {% else %}
                                                            <span class="px-2 py-1 text-xs font-semibold text-red-800 bg-red-100 rounded-full">Inactivo</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="py-2 px-4">{{ presentacion.total_neto }}</td>
                                                    {% if perms.myapp.change_presentacion %}
                                                        <td class="py-2 px-4">
                                                            <a href="{% url 'editar_presentacion' presentacion.id %}" class="bg-gray-800 text-white px-3 py-2 rounded-lg hover:bg-gray-900 focus:ring-2 focus:ring-white">
                                                                <i class="fa-solid fa-pen-to-square"></i>
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p class="text-gray-600 text-center">Este producto no tiene presentaciones registradas.</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-gray-600 text-center">No hay productos registrados.</p>
        {% endif %}
    </div>
    {% if productos.paginator.num_pages > 1 %}
        <div class="flex justify-center mt-6">
            {% if productos.has_previous %}
                <a href="?page=1{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" 
                class="px-3 py-2 mx-1 border rounded-lg bg-gray-200 hover:bg-gray-300">Primera</a>
                <a href="?page={{ productos.previous_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" 
                class="px-3 py-2 mx-1 border rounded-lg bg-gray-200 hover:bg-gray-300">Anterior</a>
            {% endif %}

            <span class="px-3 py-2 mx-1 border rounded-lg bg-gray-800 text-white">
                Página {{ productos.number }} de {{ productos.paginator.num_pages }}
            </span>

            {% if productos.has_next %}
                <a href="?page={{ productos.next_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" 
                class="px-3 py-2 mx-1 border rounded-lg bg-gray-200 hover:bg-gray-300">Siguiente</a>
                <a href="?page={{ productos.paginator.num_pages }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" 
                class="px-3 py-2 mx-1 border rounded-lg bg-gray-200 hover:bg-gray-300">Última</a>
            {% endif %}
        </div>
    {% endif %}
</div>

<div id="modalEditarProducto" class="fixed inset-0 hidden bg-gray-900 bg-opacity-50 items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
        <h2 class="text-xl font-bold mb-4">Editar Producto</h2>
        <form id="formEditarProducto" method="POST" action="">
            {% csrf_token %}
            <input type="hidden" id="producto_id" name="id">
            <div class="mb-4">
                <label for="nombre_producto" class="block text-gray-700">Nombre</label>
                <input type="text" id="nombre_producto" name="nombre" class="w-full border rounded px-3 py-2">
            </div>
            <div class="mb-4">
                <label for="categoria_producto" class="block text-gray-700">Categoría</label>
                <select id="categoria_producto" name="categoria" class="w-full border rounded px-3 py-2">
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="marca_producto" class="block text-gray-700">Marca</label>
                <select id="marca_producto" name="marca" class="w-full border rounded px-3 py-2">
                    {% for marca in marcas %}
                        <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4 flex items-center">
                <input type="checkbox" id="estado_producto" name="estado" class="mr-2">
                <label for="estado_producto" class="text-gray-700">Activo</label>
            </div>
            <div class="flex justify-end space-x-4">
                <button type="button" onclick="cerrarModalEditarProducto()" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">Cancelar</button>
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500">Guardar</button>
            </div>
        </form>
    </div>
</div>


<!-- Modal para Ver Presentaciones -->
<div id="modalPresentaciones" class="fixed inset-0 hidden bg-gray-900 bg-opacity-50 items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-4/5 max-w-6xl">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Presentaciones del Producto: <span id="nombreProducto"></span> (<span id="marcaProducto"></span>)</h2>
        <div id="presentacionesContent" class="overflow-x-auto">
            <!-- Aquí se cargarán las presentaciones dinámicamente -->
        </div>
        <div class="flex justify-end mt-6">
            <button type="button" onclick="cerrarModalPresentaciones()" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">Cerrar</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            let messages = document.querySelectorAll(".message");
            messages.forEach(function(message) {
                message.classList.add("opacity-0"); 
                setTimeout(() => message.remove(), 500); 
            });
        }, 5000); 
    });
    function openModalEditarProducto(id, nombre, categoria, marca, estado) {
        let modal = document.getElementById('modalEditarProducto');
        let nombreInput = document.getElementById('nombre_producto');
        let categoriaSelect = document.getElementById('categoria_producto');
        let marcaSelect = document.getElementById('marca_producto');
        let estadoCheckbox = document.getElementById('estado_producto');
        let form = document.getElementById('formEditarProducto');
    
        document.getElementById('producto_id').value = id;
        nombreInput.value = nombre;
    
        if (categoriaSelect.querySelector(`option[value="${categoria}"]`)) {
            categoriaSelect.value = categoria;
        }
    
        if (marcaSelect.querySelector(`option[value="${marca}"]`)) {
            marcaSelect.value = marca;
        }
    
        estadoCheckbox.checked = (estado.toString().toLowerCase() === 'true');
    
        // ✅ Generar la URL correctamente
        form.action = `/productos/editar/${id}/`;
        console.log(`URL generada: ${form.action}`); // Depuración
    
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    }
    
    function cerrarModalEditarProducto() {
        let modal = document.getElementById('modalEditarProducto');
        modal.classList.add('hidden');
    }
    
    function openModalPresentaciones(productoId, nombreProducto, marcaProducto) {
        const presentacionesContent = document.getElementById(`presentaciones_${productoId}`).innerHTML;
        document.getElementById('presentacionesContent').innerHTML = presentacionesContent;
        document.getElementById('nombreProducto').textContent = nombreProducto;
        document.getElementById('marcaProducto').textContent = marcaProducto;

        const modal = document.getElementById('modalPresentaciones');
        modal.classList.remove('hidden'); 
        modal.classList.add('flex');      
    }

    function cerrarModalPresentaciones() {
        const modal = document.getElementById('modalPresentaciones');
        modal.classList.remove('flex');   
        modal.classList.add('hidden');    
    }
</script>

{% endblock %}